.nav {
  z-index: 100;
  position: fixed;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  box-shadow: -1px 8px 7px -2px rgb(148, 148, 148);
}
.title {
  position: relative;
  font-weight: bold;
  font-size: 170%;
  left: 15px;
}
.items {
  width: 40%;
  position: relative;
}
.item {
  display: flex;
  align-items: center;
  display: inline-block;
  width: 32%;
  min-width: 100px;
  font-weight: 700;
}
.a {
  margin: 0;
  padding: 0;
  color: #4ecb71;
  text-decoration: none;
}
.a:hover {
  color: #4ecb71;
  text-decoration: underline;
}
.icon {
  position: relative;
  margin-right: 3px;
}
